*{
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.yeet{
  max-width: 90px;
}

.navbar{
  /* margin: 0 3%; */
  /* padding: 20% 0%; */
  box-shadow: 0 3px 6px 1px rgba(80, 78, 80, 0.1);
  margin-bottom: 3%;
}

a{
  text-decoration: none;
  color: black;
}

.park-links {
  color: black;
}








